.App{
  display:flex;
  /* justify-content:center; */
  align-items: center;
  flex-direction:column;
  background-color:cornflowerblue;
  /* width:100vw;
  height: 100vw; */
  /* color: rgb(90, 147, 170); */
  font-family: Arial, Helvetica, sans-serif;
  /* border-top: 1px solid #fe9772;
  border-bottom: 1px solid #57382c;  */
  /* text-shadow: 2px 2px 1px #f1f1ed; */
}
.App input{
  margin-top: 20px;
  width:260px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  border: 1px solid #00B4CC;
  text-align: left;
  cursor: pointer;
  font-size: 20px;
  
}



